* {
    margin: 0;
    padding: 0; }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F1FAEE;
}

.subrayado {
    color: #1B4965;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

.encabezado {
    color: #1B4965;
    text-align: left;
}

.tarjetas {
    display: flex;
    justify-content: center;
}

.cardPrecio {
    display: flex;
    justify-content: center;
    width: 10rem;
}

.contentTabla {
    display: flex;
    justify-content: center;
}

.table {
    width: 80%;
}

td {
    width: 25%;
}

.card-body {
    padding: 10px;
}

.card-title {
    height: 45px;
}

.card-text {
    margin-bottom: 0.5rem;
}

.prod {
    width: 30%;
    background-color: #1B4965;
    border-color: #1B4965;;
}

.botonGrande {
    background-color: #1B4965;
    border-color: #1B4965;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.totalizaCompra {
    font-size: 20px;
    color:  #1B4965;
    text-align: right;
    margin-right: 20%;
    font-weight: bold;
}

footer {
    padding-top: 15px;
    margin-top: auto;
    background-color: #1B4965; }
    footer a {
        color: #F1FAEE;
        font-size: 15px; }
    footer p {
        color: #F1FAEE;
        font-size: 15px; }

nav {
    padding: 10px;
}

main {
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
}